@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'Comfortaa', cursive;*/
*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


body{
  text-align: center;
}

/*------banner de anuncios y barra de navegacion------------*/

header{
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 9;
}

.elemento1 input{
  background: none;
  border: 2px solid #ED8D39;
  border-radius: 10px;
  padding: 10px 3px 10px 10px;
  outline: none;
  color: #5B5B5A;
  font: caption;
}

.elemento2{
  padding: 10px;
}

.banner_de_anuncio{
  background: #ED8D39;
  padding: 4px 0;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  color: white;
}


.barra_de_entrada{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  background: white;
  width: 100%;
  z-index: 100;
  margin-right: 50px;
  box-shadow: 0px 3px 6px rgba(52, 58, 64, 0.4);
}

nav .logo_1{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buscador{
  display: flex;
  margin-right: 20px;
  padding: 23px 20px;
}


.elemento1{
  padding-right: 10px;
}

/*------- seccion 1 breadcrumb------------*/


.seccion1{
  padding: 120px 0;
  margin-bottom: -140px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin-left: 20px;
}


.seccion1 .breadcrumb a{
  font-family: 'Comfortaa', cursive;
  color:black;
  font-size: 14px;
  margin: 10px;
}

.breadcrumb a:hover{
  opacity: 0.8;
}

/*------- seccion 2 blusas------------*/

.seccion2{
  display: flex;
  background-color: white;
  padding: 20px 0;
  flex-direction: row;
  align-items: center;
}


.seccion2_items{
  width: 100%;
  margin:-35px 20px 20px 20px;
  padding:20px;
}


.temp{
  position: relative;
  float: left;
  margin-left: 20%;
  margin-top: 34px;
}


.temp h3{
  width: 89px;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 15px;
  color: #ED8D39;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #ED8D39;
  border-radius: 10px;
  text-align: center;
  margin-left: 81px;
  padding: 6px 0;
  margin-top: 25px;
}


.temp h3:hover{
  background: #ED8D39;
  color: white;
}

.seccion2 p{
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
}


/*------- footer------------*/

.Pie_pagina{
  background-color: #7982D0;
  width: 100%;
}

.Pie_pagina .grupo_1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 15px 0 45px;
}


.Pie_pagina .grupo_1 .box1{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Pie_pagina .grupo_1 .box1:hover{
  opacity: 0.5;
}

.Pie_pagina .grupo_1 .box2 h3{
  color: #3A45A6;
  margin-bottom: 25px;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
}

.Pie_pagina .grupo_1 .box3 h3{
  color: #3A45A6;
  margin-bottom: 25px;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
}


.Pie_pagina .grupo_1 .box2 p{
  font-family: 'Quicksand', sans-serif;
  font-weight: 50;
  font-size: 15px;
  color: white;
  margin-bottom: 3px;
  text-align: left;
}


.Pie_pagina .grupo_1 .box3 .apps{
  font-family: 'Quicksand', sans-serif;
  font-weight: 50;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}

.Pie_pagina .grupo_1 .box3 p{
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}


.Pie_pagina .grupo_1 .box3 a:hover{
  opacity: 0.8;
}


.Pie_pagina .grupo_2{
  max-width: 1200px;
  margin: auto;
  padding: 0  40px 10px;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.Pie_pagina .grupo_2 hr{
  border: none;
  height: 1px;
  background-color: #3A45A6;
  margin-bottom: 10px;
}
